{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread",
    "emotion"
  ],
  "presets": [
    "@babel/preset-react",
    [
      "env",
      {
        "targets": {
          "browsers": "last 1 Firefox versions"
        }
      }
    ]
  ]
}
