{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecorators": true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/destructuring-assignment": [0],
    "react/jsx-props-no-spreading": [0]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
